.themePrimaryColor {
  color: #9e1e28;
}

.themeNeutralPrimaryColor {
  color: #807070;
}

.themeNeutralSecondaryColor {
  color: #b8b8b8;
}

.themePrimaryBgColor {
  background-color: #9e1e28;
}

.themeNeutralPrimaryBgColor {
  background-color: #807070;
}

.themeNeutralSecondaryBgColor {
  background-color: #b8b8b8;
}

p {
  margin-top: 15px;
}

.stick-container {
  position: relative;
}

.stick-top {
  position: absolute;
  top:0;
}

.stick-bottom {
  position: absolute;
  bottom: 0;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: rgba(245, 245, 245, 0.5);
  text-rendering: optimizeLegibility;
}

.post-publishing-date {
  font-size: small;
  font-weight: bold;
  color: #9e1e28;
}

.post-keywords {
  font-size: x-small;
  font-variant: small-caps;
  font-weight: bold;
}

.post-keywords .post-keyword {
  display: inline-flex;
  margin-right: 2px;
}

.featured-image-banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 18vh;
  /* Add the blur effect */

  /* Center and scale the image nicely */
  background: #090a0b no-repeat 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 120vh;
  width: 25vw;
  background-color: #222222;
  color: white;
  text-align: center;
  font-variant: small-caps;
  z-index: 2000;
}

.sidebar .sep {
  border: 0;
  border-top: 1px solid #EEEEEE;
  width: 80%;
  margin-top: 3px;
  margin-bottom: 3px;
}

.sidebar .sep.main-site-title-sep {
border-color: #444444;
}

.sidebar .main-site-description {
  font-size: 18px;
  text-align: center;
  margin-bottom: 50px;
  color: #807070;
}

.sidebar .main-site-title {
  margin-top: 80px;
  font-size: 32px;
  text-align: center;
}

.sidebar .navigation {
  width: 80%;
  margin: auto;
  margin-top: 150px;
  height: 20vh;
  padding: 2vh 0;
  vertical-align: middle;
  border: 0;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

.sidebar a, .sidebar a:hover {
  color: white;
  text-decoration: none;
}

.sidebar .nav-link, .sidebar .nav-link:hover {
  font-size: 18px;
  color: white;
  position: relative;
  text-decoration: none;
  display: inline-block;
}

.sidebar .nav-link::before {
  content: "";
  position: absolute;
  width: 96%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #9e1e28;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.sidebar .nav-link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.sidebar .main-site-author {
  margin-top: 150px;
}

.sidebar .main-site-author .main-site-author-name {
  font-size: 18px;
  margin-top: 16px;
}

.sidebar .main-site-author .main-site-author-description {
  font-size: 14px;
  margin-top: 6px;
  color: #807070;
}

.sidebar .main-site-author .main-site-author-description .main-site-author-description-line {
  display: block;
}

.sidebar .main-site-author .main-site-author-picture {
  width: 96px;
  height: auto;
  display: inline-block;
  margin: auto;
  border-radius: 50%;
}

.sidebar nav.navigation ul {
  display: flexbox;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.sidebar nav.navigation ul li {
  list-style-type: none;
  padding: 0;
}

.site-content {
  margin-left: 26vw;
  padding: 50px;
  position: relative;
}

.footer {
  display: block;
  margin-top: 80px;
  width: 80%;
  margin: auto;
  text-align: center;
}

.site-content a {
  color: #807070;
  text-decoration: none;
}

.site-content a:hover {
  color: #9e1e28;
  text-decoration: none;
}

.site-content .posts a {
  color: #333333;
}

.site-content .posts .post-title {
  font-size: x-large;
}

.site-content .posts .post-card .post-featured-image {
  padding: 2px;
  max-height: 25vh;
  object-fit: cover;
  padding: 4px;
}

.site-content .posts .post-card:hover {
  transform: scale(1.02);
  transition: ease-in-out .2s;
}

.site-content .posts .post-card:hover a {
  color: #9e1e28;
}

.content-item-title {
  width: 80%;
  margin: auto;
  padding: 30px 10px 5px;
  padding-top: 2px;
  text-align: center;
  font-size: medium;
}

.content-item-title h1 {
  font-size: 50px;
}

.content-item-featured-image-container {
  text-align: center;
  margin: 30px;
  margin-top: 0px;
}

.content-item-featured-image-container .content-item-featured-image {
    object-fit: cover;
    text-align: center;
    display: inline-block;
    height: 100%;
    max-height: 50vh;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.content-item .content {
  width: 80%;
  margin: auto;
}

.content-item .content a::before {
  content: "";
  position: absolute;
  width: 96%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #9e1e28;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.content-item .content a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.content-item .content img {
  display: flex;
  max-width: 75%;
  max-height: 60vh; 
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
