.themePrimaryColor {
  color: #9e1e28;
}

.themeNeutralPrimaryColor {
  color: #807070;
}

.themeNeutralSecondaryColor {
  color: #b8b8b8;
}

.themePrimaryBgColor {
  background-color: #9e1e28;
}

.themeNeutralPrimaryBgColor {
  background-color: #807070;
}

.themeNeutralSecondaryBgColor {
  background-color: #b8b8b8;
}

p {
  margin-top: 15px;
}

table {
  width: 90%;
  margin: auto;
}

.stick-container {
  position: relative;
}

.stick-top {
  position: absolute;
  top:0;
}

.stick-bottom {
  position: absolute;
  bottom: 0;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: rgba(245, 245, 245, 0.5);
  text-rendering: optimizeLegibility;
}

.post-publishing-date {
  font-size: small;
  font-weight: bold;
  color: #9e1e28;
}

.post-summary {
  margin-top: 10px;
  margin-bottom: 2px;
  font-size: small;
}

.post-keywords {
  font-size: x-small;
  font-variant: small-caps;
  font-weight: bold;
}

.post-keywords .post-keyword {
  display: inline-flex;
  margin-right: 2px;
}

.featured-image-banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 18vh;
  /* Add the blur effect */

  /* Center and scale the image nicely */
  background: #090a0b no-repeat 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 120vh;
  width: 25vw;
  background-color: #222222;
  color: white;
  text-align: center;
  font-variant: small-caps;
  z-index: 2000;
  transition: ease-in-out 0.2s;
}

.menu .menu-hamburger-icon {
  display: none;
  margin: 10px;
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.menu .sep {
  border: 0;
  border-top: 1px solid #EEEEEE;
  width: 80%;
  margin-top: 3px;
  margin-bottom: 3px;
  opacity: 1;
}

.menu .sep.main-site-title-sep {
border-color: #444444;
}

.menu .main-site-description {
  font-size: 18px;
  text-align: center;
  margin-bottom: 50px;
  color: #807070;
}

.menu .main-site-title {
  margin-top: 80px;
  font-size: 32px;
  text-align: center;
}

.menu .navigation {
  width: 80%;
  margin: auto;
  margin-top: 150px;
  padding: 1vh 0;
  vertical-align: middle;
  border: 0;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

.menu a, .menu a:hover {
  color: white;
  text-decoration: none;
}

.menu .nav-link, .menu .nav-link:hover {
  font-size: 18px;
  color: white;
  position: relative;
  text-decoration: none;
  display: inline-block;
}

.menu .nav-link::before {
  content: "";
  position: absolute;
  width: 96%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #9e1e28;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.menu .nav-link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.menu .main-site-author {
  margin-top: 150px;
}

.menu .main-site-author .main-site-author-name {
  font-size: 18px;
  margin-top: 16px;
}

.menu .main-site-author .main-site-author-description {
  font-size: 14px;
  margin-top: 6px;
  color: #807070;
}

.menu .main-site-author .main-site-author-description .main-site-author-description-line {
  display: block;
}

.menu .main-site-author .main-site-author-picture {
  width: 96px;
  height: auto;
  display: inline-block;
  margin: auto;
  border-radius: 50%;
}

.menu nav.navigation ul {
  display: flexbox;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.menu nav.navigation ul li {
  list-style-type: none;
  padding: 0;
}

.site-content {
  margin-left: 26vw;
  padding: 50px;
  position: relative;
}

.footer {
  display: block;
  margin-top: 80px;
  width: 80%;
  margin: auto;
  text-align: center;
}


.site-content .content-item a {
  color: #9e1e28;
  text-decoration: none;
}

.site-content .content-item .content a:hover, .site-content .posts .post-card a.posts-list-nav-link:hover {
  background-color: #9e1e28;
  color:white;
  padding: 2px;
  text-decoration: none;
}

.site-content .posts a {
  color: #333333;
}

.site-content .posts .post-title {
  font-size: x-large;
}

.post-card {
  width: 30rem; 
  margin: 15px;
}

.site-content .posts .post-card .post-featured-image {
  padding: 2px;
  max-height: 25vh;
  object-fit: cover;
  padding: 4px;
}

.site-content .posts .post-card:hover {
  transform: scale(1.02);
  transition: ease-in-out .2s;
}

.site-content .posts .post-card:hover a, .site-content .posts .post-card a:hover {
  color: #9e1e28;
  text-decoration: none;
}

.content-item-title {
  width: 80%;
  margin: auto;
  padding: 30px 10px 5px;
  padding-top: 2px;
  text-align: center;
  font-size: medium;
}

.content-item-title h1 {
  font-size: 50px;
}

.content-item-featured-image-container {
  text-align: center;
  margin: 30px;
  margin-top: 0px;
}

.content-item-featured-image-container .content-item-featured-image {
    object-fit: cover;
    text-align: center;
    display: inline-block;
    height: 100%;
    max-height: 50vh;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.content-item .content {
  width: 80%;
  margin: auto;
}

.content-item .content img {
  display: flex;
  max-width: 75%;
  max-height: 60vh; 
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .menu {
    height: 50px;
    width: 100%;
    overflow: hidden;
    transition: ease-in-out 0.7s;
  }

  .menu .main-site-title {
    margin: 10px;
    font-size: 24px;
    position: absolute;
    left: 10px;
    transition: ease-out .5s;
  }

  .menu .menu-hamburger-icon {
    display: inline-block;
  }


  .menu .sep, .menu .main-site-description {
    display: none;
  }

 
  .site-content {
    margin-left: 0;
    margin-top: 45px;
    padding: 15px;
  } 

  .content-item-title h1 {
    margin-top: 10px;
    font-size: 28px;
  }

  .content-item-featured-image-container {
    text-align: center;
    margin: auto;
    margin-top: 0px;
  }

  .content-item-featured-image-container .content-item-featured-image {
    max-width: 90vw;
    height: unset;
    object-fit: contain;
    box-shadow: none;
  }

  .menu.visible {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: ease-in-out 1.2s;
  }

  .menu.visible .sep, .menu.visible .main-site-description {
    display: block;
    transition: ease-in .5s;
  }

  .menu.visible .navigation, .menu.visible .main-site-author {
    margin-top: 60px;
  }

  .menu.visible .main-site-title {
    position: relative;
    margin-top: 80px;
    font-size: 32px;
    text-align: center;
    transition: ease-out .5s;
  }

  .post-card { 
    width: 90vw;
    margin: 30px;
    margin-bottom: 10px;
  }
}

.random-posts-container {
  margin-top: 50px;
  transform: scale(0.8);
}